p Hi,
p You are invited to join GraphQL Authentication Demo! Accept the invite by writing this mutation:
pre
  | mutation {
  |   signupByInvite(
  |     data: {
  |       name: "Enter your name here",
  |       password: "myverystrongpassword",
  |       email: "#{email}",
  |       inviteToken: "#{inviteToken}"
  |     }
  |  ) {
  |     token
  |   }
  | }

p
  em In a real-world application the user wouldn't have to run the mutation itself of course, it would something like this:<br />
  a(href=mailAppUrl + '/register/' + email + '/' + inviteToken) Accept invite.
